body {
  background-color: #f4f6f8;
}
.aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 180px;
  min-height: 1000px;
  background-color: #2f4050;
}
.main {
  min-height: 1000px;
  padding: 72px 0 30px 180px;
}
.main .navbar-fixed-top {
  left: 180px;
}
.main .navbar-default {
  background-color: #fff;
}
.main .navbar-default .navbar-brand i {
  padding: 5px;
  background-color: #5cb85c;
  color: #fff;
}
.main .content {
  padding: 0 15px;
}
.main .content .breadcrumb {
  background-color: #fff;
  border: 1px solid #eee;
}
.main .content .table {
  text-align: center;
}
.main .content .table th {
  text-align: center;
  font-weight: 400;
}
